/* Home.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima de todo el contenido, pero debajo de la superposición */
}

.content {
  padding-top: 55px; /* Asegúrate de dejar suficiente espacio para el Navbar */
}

.overlay {
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que esté por encima de todo el contenido */
  }
  