.container {
  display: flex;
  height: 100vh;
}

.image-container,
.form-container {
  flex: 1;
}

.image-container {
  background-color: #f0f0f0; /* Color de fondo para la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form {
  max-width: 400px; /* Ancho máximo del formulario */
}

.input-container {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: red;
}
