.navbar {
  background-color: #333;
  color: white;
  padding: 20px; /* Aumentar el padding para hacer el Navbar más grande */
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 25px; /* Aumentar el margen entre elementos */
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px; /* Aumentar el tamaño de la fuente */
}

.icon-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon-button:hover {
  color:rgba(37, 88, 136, 0.767);
}
