.recipe-list-container {
  max-width: 800px; /* Establecer el ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor en la página */
}

.recipe-item {
  width: 200px; /* Establecer el ancho deseado para cada receta */
  margin: 10px; /* Agregar un pequeño margen entre las recetas */
}

.recipe-item img {
  width: 100%; /* Hacer que la imagen ocupe todo el ancho disponible */
}

.recipe-list {
  display: flex; /* Establecer la lista como un flex container */
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas si no caben en una sola */
  justify-content: space-around; /* Distribuir los elementos horizontalmente con espacio alrededor */
  list-style-type: none; /* Quitar los puntos de la lista */
  padding: 0; /* Quitar el relleno por defecto de la lista */
}

.recipe-list li {
  width: 200px; /* Establecer el ancho deseado para cada receta */
  margin: 10px; /* Agregar un pequeño margen entre las recetas */
}

.recipe-list li img {
  width: 100%; /* Hacer que la imagen ocupe todo el ancho disponible */
}

.recipe-details {
  text-align: center; /* Centrar el texto del título */
}