/* RecipeSearch.css */

.recipe-search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
