/* RecipeDetails.css */

.recipe-details-container {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.recipe-content {
  margin-top: 20px;
}

.ingredients-title,
.instructions-title {
  margin-bottom: 10px;
}

.ingredients-list {
  list-style: none;
  padding: 0;
}

.ingredient-item {
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.ingredient-item:nth-child(even) {
  background-color: #b7e8b1; /* Verde */
}

.ingredient-item:nth-child(odd) {
  background-color: #d7f3d6; /* Verde claro */
}
