.recipe-search-container {
  margin-right: 25px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  border: none;
  border-radius: 5px 0 0 5px;
  width: 700px;
}

.search-button {
  padding: 8px;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
